$section-even-color: $color-orange;
$section-odd-color: $color-pink;

.component {
  margin-bottom: 50px;
  padding: 0 15px;
  text-align: center;

  @include sm {
    text-align: right;
  }

  &-background-image {
    padding: 40px 0;
    background-color: $color-grey;
  }

  .row {
    @include sm {
      flex-direction: row-reverse;
    }
  }

  a {
    color: $section-even-color;

    @include hover-focus {
      text-decoration: underline;
    }
  }

  h2 {
    border-bottom-color: $section-even-color;

    @include sm {
      margin-left: auto;
      text-align: right;
    }
  }

  h3 {
    @include sm {
      text-align: right;
    }
  }

  footer {
    color: $section-even-color;
    font-family: $font-rubik-bold;
  }

  #meditation q {
    color: $section-even-color;
  }

  button {
    border-color: $section-even-color;

    @include hover-focus {
      background-color: $section-even-color;
    }
  }

  #resource,
  #videos,
  #events {
    .item {
      justify-content: flex-end;
      flex-direction: column-reverse;

      @include sm {
        flex-direction: row;
      }
    }
  }


  &:nth-child(odd) {

    @include sm {
      text-align: left;
    }

    .row {
      @include sm {
        flex-direction: row;
      }
    }

    a {
      color: $section-odd-color;
    }

    h2 {
      border-bottom-color: $section-odd-color;

      @include sm {
        margin-left: 0;
        text-align: left;
      }
    }

    h3 {
      @include sm {
        text-align: left;
      }
    }

    footer {
      color: $section-odd-color;
    }

    #meditation q {
      color: $section-odd-color;
    }

    button {
      border-color: $section-odd-color;

      @include hover-focus {
        background-color: $section-odd-color;
      }
    }

    #resource,
    #videos,
    #events{
      .item {
        justify-content: flex-start;
        flex-direction: column-reverse;

        @include sm {
          flex-direction: row;
        }
      }

      .image,
      .video {
        order: 1;
      }

      .text {
        order: 2;
      }
    }
  }
}
