$section-even-color: $color-orange;
$section-odd-color: $color-pink;

.component {
  margin-bottom: 50px;
  padding: 0 15px;
  text-align: center;

  @include sm {
    margin-bottom: 100px;
    text-align: right;
  }

  &-background-image {
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include sm {
      padding: 40px 0;
    }

    @include sm-down {
      background-image: none!important;
    }
  }

  &-title.component {
    margin-bottom: 0;

    h2 {
      border-bottom-color: $section-odd-color;

      [class^="icon"] {
        &:before {
          color: $section-odd-color;
        }
      }
    }
  }

  .row {
    @include sm {
      flex-direction: row-reverse;
    }
  }

  a {
    color: $section-even-color;
    text-decoration: underline;

    @include hover-focus {
      text-decoration: none;
    }
  }

  h2 {
    border-bottom-color: $section-even-color;

    [class^="icon"] {
      align-self: center;
      margin-left: 20px;

      @include sm {
        margin-left: 0;
        margin-right: 20px;
      }

      &:before {
        color: $section-even-color;
      }
    }

    @include sm {
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;
      margin-left: auto;
      text-align: right;
    }
  }

  h3 {
    @include sm {
      text-align: right;
    }
  }

  footer {
    color: $section-even-color;
    font-family: $font-rubik-bold;
  }

  #meditation .quote-message {
    color: $section-even-color;
  }

  button {
    border-color: $section-even-color;

    @include hover-focus {
      background-color: $section-even-color;
    }
  }

  #resource,
  #videos,
  #events,
  #articles {
    .item {
      justify-content: flex-end;
      flex-direction: column-reverse;
      margin-bottom: 50px;

      @include sm {
        flex-direction: row;
      }
    }

    .text {
      margin-bottom: 20px;

      @include sm {
        margin-bottom: 0;
        max-width: 800px;
      }
    }

    .image,
    .video {
      @include sm {
        margin-left: 40px;
      }
    }
  }

  .list-entry-heading {
    color: $section-even-color;
    margin-top: 0;
  }

  a.list-entry-heading {
    &::before {
      display: inline-block;
      opacity: 0;

      content: '<';
      transform: translateX(-20px) rotate(-20deg);
      transition: opacity .3s ease, transform .3s ease;
    }

    @include hover-focus {
      &::before {
        opacity: 1;
        transform: translateX(-10px) rotate(0);
      }
    }
  }


  &:nth-child(odd) {

    @include sm {
      text-align: left;
    }

    .component-title.component {
      h2 {
        border-bottom-color: $section-even-color;

        [class^="icon"] {
          &:before {
            color: $section-even-color;
          }
        }
      }
    }

    .row {
      @include sm {
        flex-direction: row;
      }
    }

    a {
      color: $section-odd-color;
    }

    h2 {
      border-bottom-color: $section-odd-color;

      @include sm {
        flex-direction: row;
        margin-left: 0;
        text-align: left;
      }

      [class^="icon"] {
        margin-left: 20px;

        &:before {
          color: $section-odd-color;
        }
      }
    }

    h3 {
      @include sm {
        text-align: left;
      }
    }

    footer {
      color: $section-odd-color;
    }

    #meditation .quote-message {
      color: $section-odd-color;
    }

    button {
      border-color: $section-odd-color;

      @include hover-focus {
        background-color: $section-odd-color;
      }
    }

    #resource,
    #videos,
    #events {
      .item {
        justify-content: flex-start;
        flex-direction: column-reverse;

        @include sm {
          flex-direction: row;
        }
      }

      .image,
      .video {
        order: 1;
        @include sm {
          margin-right: 40px;
          margin-left: 0;
        }
      }

      .text {
        order: 2;
      }
    }

    #events {
      h3 {
        color: $section-odd-color;
      }
    }

    .list-entry-heading {
      color: $section-odd-color;
    }

    a.list-entry-heading {
      &::after {
        display: inline-block;
        opacity: 0;

        content: '>';
        transform: translateX(20px) rotate(20deg);
        transition: opacity .3s ease, transform .3s ease;
      }

      &::before {
        display: none;
      }

      @include hover-focus {
        &::after {
          opacity: 1;
          transform: translateX(10px) rotate(0);
        }
      }
    }
  }
}
