// Breakpoints

$breakpoint-lg: 1440px;
$breakpoint-md: 995px;
$breakpoint-sm: 690px;

// Body

$font-rubik: 'Rubik-Regular', Gadget, sans-serif;
$font-raleway: 'Raleway-Light', sans-serif;
$font-rubik-bold: 'Rubik-Bold', 'Arial black', Gadget, sans-serif;

// Colours
$color-orange: #FF9F1C;
$color-pink: #E71A8C;
$color-grey: #6E6E6E;
$color-light-grey: #E6E6E6;
$color-white: #ffffff;

//Font-sizes
$font-size-xxl: 60px;
$font-size-xl: 40px;
$font-size-l: 32px;
$font-size-m: 24px;
$font-size-s: 20px;
$font-size-body: 18px;
$font-size-body-mobile: 16px;
