// Breakpoints

$breakpoint-lg: 75em;
$breakpoint-md: 64em;
$breakpoint-sm: 48em;

// Body

$font-rubik: 'Rubik-Regular';
$font-raleway: 'Raleway-Light';
$font-rubik-bold: 'Rubik-Bold';

// Colours
$color-orange: #FF9F1C;
$color-pink: #E71A8C;
$color-grey: #6E6E6E;
$color-white: #ffffff;
