// Breakpoints

$breakpoint-lg: 1440px;
$breakpoint-md: 995px;
$breakpoint-sm: 690px;

// Body

$font-rubik: 'Rubik-Regular';
$font-raleway: 'Raleway-Light';
$font-rubik-bold: 'Rubik-Bold';

// Colours
$color-orange: #FF9F1C;
$color-pink: #E71A8C;
$color-grey: #6E6E6E;
$color-light-grey: #E6E6E6;
$color-white: #ffffff;

//Font-sizes
$font-size-heading1: 60px;
$font-size-heading2: 40px;
$font-size-heading3: 32px;
$font-size-body: 18px;
$font-size-body-mobile: 16px;
